.dark {
  color: #eee;
  background-color: #212529;
  transition: .50s cubic-bezier(0.165, 0.84, 0.44, 1);

  .BtnDefault {
    color: rgb(58, 58, 58);
    cursor: pointer;
    background-color: #eee;
  }

  .login__container {
    background-color: #343A40;
  }

  tbody {
    &>tr:nth-of-type(odd)  {
      background-color: #343A40;
    }
  
    th {
      color: #ccc;
    }
  }
}